appnope==0.1.3
asttokens==2.4.0
backcall==0.2.0
cffi==1.15.1
compact-json==1.6.1
cypari==2.5.4
decorator==5.1.1
executing==1.2.0
FXrays==1.3.5
ipython==8.15.0
jedi==0.19.0
knot-floer-homology==1.2
low-index==1.2
matplotlib-inline==0.1.6
networkx==3.1
numbers-parser==4.4.2
parso==0.8.3
pendulum==2.1.2
pexpect==4.8.0
pickleshare==0.7.5
plink==2.4.2
prompt-toolkit==3.0.39
protobuf==4.24.3
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
Pygments==2.16.1
pypng==0.20220715.0
python-dateutil==2.8.2
python-snappy==0.6.1
pytzdata==2020.1
regex==2022.10.31
roman==3.3
sigfig==1.3.3
six==1.16.0
snappy-manifolds==1.2
sortedcontainers==2.4.0
spherogram==2.2.1
stack-data==0.6.2
traitlets==5.10.0
wcwidth==0.2.6
